.entry-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  box-shadow: 0 0 15px -5px black;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 4px;
}


.navbar-nav{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.navbar-nav a{
  text-decoration: none;
  color: #fff;
  transition: .5s;
  border-bottom: 3px solid transparent;
  padding: 10px 5px;
  font-weight: 700;
}

.navbar-nav a:hover{
  color: #fff;
  border-bottom: 3px solid #0B5ED7;
}